params{
 latent = '5, 10, 20'
 knn = '5, 10, 15, 20'
 hvg = '2000, 4000, 6000'
 batch_key='sample'
 celltype_key='celltype'
}


profiles {
   singularity {
    singularity.enabled = true
    process.container = '/data/sennis/AML/scarches_nf/Sarah145-batch_correct-master.simg'
    process.containerOptions = '-B /data'
    process.executor='slurm'
    process.queue='highmem'
    process.clusterOptions ='-n 16 -N 1'
  }
}




